<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{template :: head}"></head>
    <body>
        <nav th:replace="~{template :: menu}"></nav>
        <div class="container">
            <h1 th:text="#{app.title}" style="text-transform:uppercase;">...</h1>
            <p th:text="|&#128570; #{app.subtitle} &#128570;|">...</p>
        </div>
        <footer th:replace="~{template :: footer}"></footer>        
        <script th:replace="~{template :: #bootstrap}"></script> 
    </body>
</html>
